/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
.wccma-user-avatar {
	margin-bottom: 5%;
	width: 20%;
}
.wccma-user-avatar img {
	border-radius: 50%;
}
.wccma-update-avatar-error p{
	color: red;
}
.wccma-avatar-update-success p{
	color: green;
}