/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

/* New Style */
 .wcmp-myaccount-template-inner {
    background: #fff;
    padding: 15px;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
}

#my-account-menu {
    float: left;
    width: 25%;
    box-sizing: border-box;
}
#my-account-menu.position-left {
    padding-right: 15px;
}
#my-account-menu.position-right {
    padding-left: 15px;
    float: right;
}
#my-account-menu.position-right {
    order: 2;
}
#my-account-menu ~ .woocommerce-MyAccount-content {
    float: left;
    width: 75%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #fff;
    padding: 20px;
    border-radius: 6px;
    box-shadow: none;
    border: 1px solid #e0e0e0;
}
.woocommerce-MyAccount-navigation:not( .wc-memberships-for-teams-teams-area-navigation ) {
    display: none;
}
#my-account-menu ~ .woocommerce-MyAccount-content .woocommerce-MyAccount-content {
    float: none;
    width: 100%;
    margin: 0;
}
#my-account-menu .myaccount-menu, #my-account-menu .myaccount-submenu,
#my-account-menu .myaccount-menu li, #my-account-menu .myaccount-submenu li {
    list-style: none;
    padding: 0;
    margin: 0;
}
#my-account-menu .myaccount-menu {
    margin: 0;
}
#my-account-menu .myaccount-menu:before {
    display: block;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 0;
    content: '';
    margin-left: -15px;
    margin-bottom: 15px;
    margin-right: -15px;
}
#my-account-menu.position-left .myaccount-menu:before {
    /* border-right: 1px solid #e0e0e0; */
}
#my-account-menu.position-right .myaccount-menu:before {
    /* border-left: 1px solid #e0e0e0; */
}
#my-account-menu .myaccount-menu:after {
    display: block;
    padding: 60px 0;
    content: '';
}
#my-account-menu.position-left .myaccount-menu:after {
    /* border-right: 1px solid #e0e0e0; */
}
#my-account-menu.position-right .myaccount-menu:after {
    /* border-left: 1px solid #e0e0e0; */
}
#my-account-menu .myaccount-menu li a {
    /* border-bottom: 1px solid #e0e0e0; */
    margin: 0;
    cursor: pointer;
}
#my-account-menu.position-left .myaccount-menu li a {
    /* border-right: 1px solid #e0e0e0; */
}
#my-account-menu.position-right .myaccount-menu li a {
    /* border-left: 1px solid #e0e0e0; */
}
#my-account-menu .myaccount-menu li.active > a,
#my-account-menu .myaccount-menu li.is-active > a,
#my-account-menu .myaccount-menu li > a:hover {
    font-weight: bold;
    background: #f4f4f4;
    border-radius: 6px;
}
#my-account-menu.position-right .myaccount-menu li.active a,
#my-account-menu.position-right .myaccount-menu li.is-active a {
    border-left: 0;
}
#my-account-menu.position-left .myaccount-menu li.active a,
#my-account-menu.position-left .myaccount-menu li.is-active a {
    border-right: 0;
}
#my-account-menu .myaccount-menu li > a {
    display: block;
    padding: 12px 15px !important;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
    box-shadow: none;
    margin-top: 2px;
    transition: all 0.3s;
    outline: none;
}
#my-account-menu.position-right .myaccount-menu li > a {
    text-align: right;
}
#my-account-menu .myaccount-menu li > a > .fa {
    margin-right: 7px;
}

#my-account-menu .myaccount-menu a.group-opener {
    position: relative;
    padding-right: 35px;
}
#my-account-menu .myaccount-menu a.group-opener i.opener {
    position: absolute;
    top: 15px;
    right: 15px;
    margin: 0;
}

#my-account-menu.position-right a.group-opener {
    padding-right: 5px;
    padding-left: 35px;
}
#my-account-menu.position-right a.group-opener i,
#my-account-menu.position-right .myaccount-menu a.group-opener i.opener {
    right: auto;
    left: 15px;
}
#my-account-menu .user-profile {
    text-align: center;
}
#my-account-menu.position-right .user-profile {
    border-right: 0;
    border-left: 1px solid #e0e0e0;
}
#my-account-menu .user-profile .username {
    text-align: center;
    margin-bottom: 10px;
}
.user-profile .user-info .logout a{
    padding: 2px 10px;
    font-size: 14px;
    text-transform: uppercase;
    border: 0;
}
.wcmp-myaccount-template .user-image {
    position: relative;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
    border-radius: 8px;
}
.wcmp-myaccount-template .user-image img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 0;
}
#load-avatar {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    display: inline-block;
    text-align: center;
    background: rgba( 0, 0, 0, 0.5 );
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    border-radius: 50%;
    cursor: pointer;
}
#load-avatar:before {
    content: '';
    width: 0;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
#load-avatar i {
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
}
.wcmp-myaccount-template .user-image:hover #load-avatar {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.wcmp-avatar-form-popup p {
    margin-bottom: 0;
}
.wcmp-avatar-form-popup .submit {
    text-align: right;
}

#my-account-content .waitlist-title-section {
    display: none;
}

/*####################
 TAB STYLE
####################*/

#my-account-menu-tab .myaccount-menu {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    border-bottom: 1px solid #e0e0e0;
}
#my-account-menu-tab .myaccount-menu:before,
#my-account-menu-tab .myaccount-menu:after {
    content: '';
    display: table;
    clear: both;
}
#my-account-menu-tab .myaccount-menu > li {
    float: left;
    margin-top: 7px;
    margin-bottom: 0;
    margin-right: 5px;
    position: relative;
    display: block;
}
#my-account-menu-tab .myaccount-menu > li:last-child a {
    margin-right: 0;
}
#my-account-menu-tab .myaccount-menu li a {
    text-decoration: none;
    display: block;
    padding: 0.5em 1em;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    box-shadow: none;
    position: relative;
    cursor: pointer;
}
#my-account-menu-tab .myaccount-menu > li > a {
    border: 1px solid #e0e0e0;
    border-bottom: none;
}
#my-account-menu-tab .myaccount-submenu {
    display: none;
    list-style: none;
    padding: 5px;
    border: 1px solid #e0e0e0;
    right: 0;
    margin: 0;
    position: absolute;
    z-index: 999;
    background: #fff;
}
#my-account-menu-tab .myaccount-submenu > li > a {
    border-bottom: 1px solid #e0e0e0;
}
#my-account-menu-tab .myaccount-submenu > li:last-child > a {
    border: none;
}
#my-account-menu-tab .user-profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
#my-account-menu-tab .user-info {
    display: inline-block;
    vertical-align: top;
    padding-left: 15px;
}
#my-account-menu-tab .user-info p.username {
    margin-bottom: 15px;
}
#my-account-menu-tab ~ .woocommerce-MyAccount-content,
#my-account-menu-tab ~ .woocommerce-MyAccount-content .woocommerce-MyAccount-content {
    float: none;
    width: 100%;
}

#my-account-menu-tab .myaccount-menu li.active > a,
#my-account-menu-tab .myaccount-menu li.is-active > a {
    font-weight: bold;
}
#my-account-menu ~ .woocommerce-MyAccount-content p {
    font-size: 15px;
}
#my-account-menu ~ .woocommerce-MyAccount-content .woocommerce-Message--info.woocommerce-info {
    background: #f3f6f7;
    padding-right: 20px !important;
}

/*###########################
AVATAR MODAL
###########################*/
#wcmp-avatar-form-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba( 0,0,0,0.5 );
    z-index: 99999;
}
div#wcmp-avatar-form-overlay.loading:before {
    border: 4px double #f3f3f3;
    border-top: 4px solid #333;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    left: 50%;
    margin-left: -20px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#wcmp-avatar-form {
    background-color: rgba(255,255,255,1);
    padding: 0;
    position: fixed;
    border: 3px solid #e0e0e0;
    z-index:9999999;
    border-radius: 10px;
}

.wcmp-popup-title {
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    color: #333;
}

.wcmp-popup-content {
    padding: 25px;
}

#wcmp-avatar-form h3 {
    font-size: 18px;
    padding-bottom: 15px;
    margin-bottom: 25px;
    border-bottom: 1px solid #e0e0e0;
    margin-left: -25px;
    margin-right: -25px;
    padding-left: 25px;
    margin-top: -10px;
}
#wcmp-avatar-form input[type='submit']{
    font-size: 14px;
    padding: 10px 25px;
    border-radius: 7px;
    transition: all 0.3s ease;
}
#wcmp-avatar-form p.submit{
    text-align: right;
    margin-bottom: 10px;
}
#wcmp-avatar-form i.close-form {
    position: absolute;
    top: -15px;
    right: -15px;
    display: inline;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #e0292a;
    border-radius: 8px;
    line-height: 24px;
    font-size: 17px;
    border: 2px solid #e0292a;
    cursor: pointer;
    color: #ffffff;
    transition: all 0.3s ease;
}
#wcmp-avatar-form i.close-form:hover {
    color: #000;
    transition: all 0.3s ease;
}

/* BuddyX */
.theme-buddyx #my-account-menu ~ .woocommerce-MyAccount-content,
.theme-buddyx-pro #my-account-menu ~ .woocommerce-MyAccount-content {
    padding:20px;
}

/*########################
RESPONSIVE
########################*/

@media( max-width: 768px ) {
    #my-account-menu .myaccount-menu li i{
        display: none;
    }
}

@media( min-width: 481px ) {
    #my-account-menu-tab .myaccount-menu > li:hover .myaccount-submenu,
    #my-account-menu-tab .myaccount-menu > li.is-hover .myaccount-submenu {
        display: block;
    }
}

@media( max-width: 480px ) {
    #my-account-menu,
    #my-account-menu.position-right {
        width: 100%;
        float: none;
        padding: 0 !important;
    }
    #my-account-menu .myaccount-menu {
        margin: 30px 0;
    }
    #my-account-menu .user-profile {
        border: 0;
    }
    #my-account-menu ~ .woocommerce-MyAccount-content,
    #my-account-menu ~ #my-account-content {
        width: 100%;
        float: none;
    }
    #my-account-menu .myaccount-menu:after,
    #my-account-menu .myaccount-menu:before {
        display: none;
    }
    #my-account-menu .myaccount-menu li a {
        border: 1px solid #e0e0e0;
        border-bottom: 0;
    }
    #my-account-menu .myaccount-menu li:last-child a {
        border-bottom: 1px solid #e0e0e0;
    }
    #my-account-menu .myaccount-menu li.active a,
    #my-account-menu .myaccount-menu li.is-active a {
        border-right: 1px solid #e0e0e0 !important;
    }
    #my-account-menu.position-right .myaccount-menu li.active a,
    #my-account-menu.position-right .myaccount-menu li.is-active a {
        border-left: 1px solid #e0e0e0 !important;
    }
    #my-account-menu .myaccount-menu li i{
        display: inline-block;
    }
    #my-account-menu .myaccount-menu li a {
        text-align: center;
        padding: 12px 10px;
    }
    #my-account-menu .myaccount-menu li,
    #my-account-menu-tab .myaccount-menu li {
        margin: 0;
        display: block;
        float: none;
    }
    #my-account-menu-tab .myaccount-submenu {
        position: static;
        padding: 0;
        display: none;
    }
}

/* Buddyx and Pro Theme */

.theme-buddyx #my-account-menu .wcmp-myaccount-template-inner,
.theme-buddyx-pro #my-account-menu .wcmp-myaccount-template-inner {
    position: relative;
    margin: 0 0 30px;
    padding: 1em;
    border: 1px solid var(--global-border-color);
    border-radius: 8px;
    background: #fff;
}
.theme-buddyx #my-account-menu .myaccount-menu li > a,
.theme-buddyx-pro #my-account-menu .myaccount-menu li > a {
    padding: 10px;
    border-right: none;
}

.theme-buddyx  #my-account-menu .user-profile,
.theme-buddyx-pro  #my-account-menu .user-profile{
    margin-bottom:20px;
}

.theme-buddyx #my-account-menu .myaccount-menu li:last-child a,
.theme-buddyx-pro #my-account-menu .myaccount-menu li:last-child a{
    border-bottom:0px;
}


.theme-buddyx #my-account-menu.position-left .myaccount-menu:before,
.theme-buddyx #my-account-menu .user-profile,
.theme-buddyx #my-account-menu.position-left .myaccount-menu li a,
.theme-buddyx #my-account-menu.position-left .myaccount-menu:after,
.theme-buddyx-pro #my-account-menu.position-left .myaccount-menu:before,
.theme-buddyx-pro #my-account-menu .user-profile,
.theme-buddyx-pro #my-account-menu.position-left .myaccount-menu li a,
.theme-buddyx-pro #my-account-menu.position-left .myaccount-menu:after{
    border-right: none;
}

.theme-buddyx #my-account-menu.position-left .myaccount-menu:after,
.theme-buddyx #my-account-menu.position-left .myaccount-menu:before,
.theme-buddyx-pro #my-account-menu.position-left .myaccount-menu:before,
.theme-buddyx-pro #my-account-menu.position-left .myaccount-menu:after{
    padding:0px;
}


/* BuddyxBoss Theme */

.theme-buddyboss-theme .wcmp-myaccount-template .user-profile{
    padding:10px;
}

.theme-buddyboss-theme #my-account-menu.wcmp-myaccount-template .myaccount-menu li a{
    padding:8px 15px;
}

.theme-buddyboss-theme #my-account-menu ~ .woocommerce-MyAccount-content{
    padding: 20px;
    padding-left: 0;
}


/* Dark Mode */
.dark-mode .wcmp-myaccount-template-inner,
.dark-mode #my-account-menu ~ .woocommerce-MyAccount-content {
    background: #242526;
    border-color: #444444;
}
.dark-mode #my-account-menu .myaccount-menu:before{
  border-color: #444444;
}
.dark-mode #my-account-menu .myaccount-menu li.active > a,
.dark-mode #my-account-menu .myaccount-menu li.is-active > a,
.dark-mode #my-account-menu .myaccount-menu li > a:hover {
    background: #18191a;
    color: #fff;
}

/*BoddyBoss*/
.buddyboss-theme #my-account-menu ~ .woocommerce-MyAccount-content .woocommerce-Message--info.woocommerce-info{
    padding: 20px !important;
}
.buddyboss-theme .woocommerce .bsMyAccount{
    border:none;
}
.buddyboss-theme #my-account-menu ~ .woocommerce-MyAccount-content {
    padding: 20px !important;
}

.buddyboss-theme .woocommerce .bsMyAccount--dashboard .woocommerce-Address-title {
    padding-left:5px;
}
.buddyboss-theme .woocommerce .wc-MyAccount-sub-heading {
    padding-left: 0px;
}
.buddyboss-theme .woocommerce .woocommerce-MyAccount-content .woocommerce-account-fields{
    width: 100%;
}

/* Reign theme */
.rg-my-account-content-wrapper #my-account-menu {
    width: 100%;
}

.rg-my-account-content-wrapper #my-account-menu.position-left {
    padding-right: 0;
}

.rg-my-account-content-wrapper #my-account-menu.position-right {
    padding-left: 0;
}

.rg-my-account-content-wrapper #my-account-menu.position-right .user-profile {
    border: 0;
}